---
---

$base-font-size: 18px;
$base-line-height: 1.7;
$text-color: #333;

@import "minima";

blockquote {
  font-size: $base-font-size;
}

.post-title {
  @include relative-font-size(1.75);
}

.post-list-heading {
  @include relative-font-size(1.5);
}

.post-content {
  h2 {
    @include relative-font-size(1.5);
  }

  h3 {
    @include relative-font-size(1.3);
  }

  h4 {
    @include relative-font-size(1.15);
  }
}
